{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"id-length": 0,
		"max-lines-per-function": 0,
		"max-statements": 0,
		"new-cap": [2, {
			"capIsNewExceptions": [
				"GetIntrinsic",
				"ToInteger",
			],
		}],
	},
}
